= provide(:title, "About")
%h1 About
%ul
  %li This site User Auth helps to make a demo of signing up users and |
  logging in and logging out.
  %li There can be one admin user which can be made by rails console by |
  setting admin = 1 for the User in the user model.
  %li The admin user can delete the other user.
  %li Every user can update its information by going on the Setting in |
  navbar menu.
  %li Every user can see all the user by clicking on user after logging |
  in the navbar menu.
  %li The email section validates for valid email address.
  %li The password is stored using a BCrypt hash so it is secure.
