.center.jumbotron
  %h1 Welcome to the User Auth App
  %h2 This is the home page for the User Auth Application
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'
