= provide(:title, 'Edit user')
= provide(:button_text, 'Save changes')
%h1 Update your profile

.row
  .col-md-6.col-md-offset-3
    = render 'form'

    .gravatar_edit
      = gravatar_for @user
      %a(href="http://gravatar.com/emails" target="_blank")change
