%footer.footer
  %small
    Made |
    by #{ link_to "Harshdeep Kanhai", "https://harshdeepkanhai.github.io/" } |
  %nav
    %ul
      %li
        = link_to "About", about_path
      %li
        = link_to "Contact", contact_path
