!!! 5
%html
  %head
    %title #{ full_title(yield(:title)) }
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  %body
    =render 'layouts/header'
    .container
      - flash.each do |message_type, message|
        %div(class="alert alert-#{message_type}")= message
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
